.navbar {
  background-color: #b25040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-container {
  left: 0;
}

.logoTallerUrbano {
  height: 100px;
  width: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  padding: 0;
}

.nav-link {
  list-style-type: none;
  margin: 0 20px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;

  justify-self: center;
  align-self: center;
}

.nav-link:hover {
  transition: linear 0.5s;
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
  color: white;
}
